* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: rgb(250, 249, 246);
  --lightshadow: rgb(0, 0, 0, 0.15);
  --i-color: #36454f;
  --text-color: #7e7f80;
  --pbar: rgb(218, 218, 218);
  --control-color: linear-gradient(
    90deg,
    var(--pbar) 0%,
    var(--text-color) 100%
  );
  --blur: rgba(0, 0, 0, 0.05);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--control-color);
}
.wrapper {
  width: 380px;
  overflow: hidden;
  padding: 25px 30px;
  position: relative;
  background: var(--primary-color);
  box-shadow: 0px 6px 15px var(--lightshadow);
  border-radius: 15px;
}
.wrapper i {
  cursor: pointer;
}
.top-bar,
.progress-area .timer,
.controls,
.music-list .header,
.music-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar i {
  font-size: 30px;
  color: var(--i-color);
}
.top-bar i:first-child {
  margin-left: -7px;
}
.top-bar span {
  font-size: 30px;
  color: var(--text-color);
}
.img-area {
  height: 256px;
  width: 100%;
  margin-top: 25px;
  box-shadow: 0px 6px 12px var(--lightshadow);
  border-radius: 15px;
  overflow: hidden;
}
.img-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.song-details {
  text-align: center;
  margin: 30px 0px;
  color: var(--text-color);
}
.song-details .name {
  font-size: 21px;
}
.song-details .artist {
  font-size: 18px;
  opacity: 0.8;
  line-height: 35px;
}
.progress-area {
  height: 5px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 50px;
  cursor: pointer;
}
.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  border-radius: inherit;
  position: relative;
  background: linear-gradient(90deg, var(--pbar) 0%, var(--text-color) 100%);
}
.progress-bar::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background: #000;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  transform: translateY(-50%);
  background: var(--text-color);
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}
.progress-area:hover .progress-bar::before {
  opacity: 1;
  pointer-events: auto;
}
.progress-area .timer {
  margin-top: 2px;
}
.timer span {
  font-size: 13px;
  color: var(--text-color);
}
.controls {
  margin: 40px 0px 5px 0px;
}
.controls i {
  font-size: 28px;
  user-select: none;
  background: linear-gradient(90deg, var(--pbar) 0%, var(--text-color) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nthchild(4) {
  font-size: 43px;
}
.controls #next {
  margin-left: -15px;
}
.controls #prev {
  margin-left: -15px;
}
.controls .play-pause {
  height: 54px;
  width: 54px;
  background: var(--blur);
  box-shadow: 0px 0px 5px var(--i-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-pause::before {
  content: "";
  position: absolute;
  height: 43px;
  width: 43px;
  border-radius: inherit;
  background: var(--control-color);
}

.play-pause i {
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  background-clip: text;
  background: var(--primary-color);
  position: absolute;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.music-list {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  padding: 15px 30px;
  border-radius: 15px;
  background: whitesmoke;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-out;
}
.music-list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.music-list .header .row {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: var(--text-color);
}
.music-list ul {
  margin: 10px 0px;
  max-height: 260px;
  overflow-y: auto;
}
.music-list ul::-webkit-scrollbar {
  width: 0px;
}
.music-list ul li {
  cursor: pointer;
  display: flex;
  list-style: none;
  color: var(--text-color);
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--blur);
}
.music-list ul li:last-child {
  border-bottom: 0px;
}
.music-list li .row span {
  font-size: 17px;
}
.music-list ul li .row p {
  opacity: 0.9;
}
ul li .audio-duration {
  font-size: 17px;
}
ul li.playing {
  pointer-events: none;
  color: black;
}

.header .row i {
  cursor: default;
}
.header .row span {
  margin-left: 5px;
}
.header #close {
  font-size: 22px;
  color: var(--text-color);
}
